DB_URL=jdbc:mysql://localhost:3306/cosmetest_java?zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=your_db_password_here
JWT_SECRET=your_jwt_secret_here
SWAGGER_ENABLED=false
PHOTO_SERVER_URL=http://your-photo-server:8080/Base_de_donnees_photos/
